.header{
    background-color: #fff(53, 52, 52);
    padding-inline: 16px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.171);
}
.nav{
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
}
.logo{
    text-decoration: none;
}
.logo img{
    width: 80px;
    height: auto;
}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    z-index: 1;
}
.nav-list a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-block: 15px;
    transition: 0.5s;
}
.menu-hamburguer{
    border: none;
    background: none;
    border-top: 3px solid #000;
    cursor: pointer;
    display: none;
    z-index: 3;
}
.menu-hamburguer::after,
.menu-hamburguer::before{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {
    .menu-hamburguer{
        display: block;
        z-index: 3;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        clip-path: circle(100px at 90% -25%);
        transition: clip-path 0.8s ease-out;    

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a{
    font-size: 20px;
    }
    .nav.menu-ativo .nav-list{
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
    }
    .nav.menu-ativo .menu-hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.menu-ativo .menu-hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.menu-ativo .menu-hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
