@font-face {
    font-family: 'batman';
    src: url(../src/batmfa__.ttf);
}

/* inicio da seção 1 */
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.container1 .img img{
    height: 500px;
    width: auto;
    margin: 50px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.281));
}
.container1 .img{
    width: 50%;
}
.container1 .conteudo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6em;
}
.container1 .conteudo h2{
    font-size: 50px;
    font-family: 'batman', sans-serif;
    padding: 50px;
}
.trailer-button{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 30px;
    margin: 30px;
    background-color: transparent;
    border: 2px solid #d12e2e;
    border-radius: 5px;
    transform: skew(10deg);
    transition: 0.5s;
    cursor: pointer;
}
.trailer-button:hover{
    background-color: #d12e2e;
    color: #fff;
}
/* fim da seção 1 */

/* inicio seção 2 */
.bg-escuro{
    background-color: #202020;
    color: #fff;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}
.container2 .img{
    width: 50%;
}
.container2 .img img{
    width: 500px;
    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.container2 .conteudo{
    display: flex;
    width: 50%;
    line-height: 1.6em;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.sm-button{
    background-color: transparent;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 30px;
    margin: 20px;
    border-radius: 5px;
    transform: skew(10deg);
    color: #fff;
    border: 2px solid #fff ;
    cursor: pointer;
    transition: 0.5s;
}
.sm-button:hover{
    background-color: #fff;
    color: #202020;
}
/* fim da seção 2 */

/* inicio da seção 3 */
.container3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 20px 0;
}
.card{
    width: 350px;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin: 20px 0;
}
.card h3{
    margin: 5px 0;
}
.card-img{
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#h2-per{
    font-family: 'batman', sans-serif;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

/* fim da seção 3 */

/* incio da seção 4 */
.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#h2-con{
    font-size: 35px;
    color: #d12e2e;
    text-align: center;
    font-family: 'batman', sans-serif;
    padding: 20px 0px;
}
#p-con{
    width: 700px;
    display: block;
    margin: auto;
    padding: 30px 0;
}
/* fim da seção 4 */

/* inicio da seção 5 */
#h2-cur{
    text-align: center;
    font-family: 'batman', sans-serif;
    font-size: 35px;
    margin: 15px 0px;
}
.container5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
}
.container-flip{
    position: relative;
    width: 300px;
    height: 320px;
    margin: 25px 0;
}
.container-flip:hover .flip{
    transform: rotateY(180deg);
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: .5s;
}
.back, .front{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    backface-visibility: hidden;
    padding: 10px;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.front{
    display: flex;
    justify-content: center;
    align-items: center;
}
.front p{
    font-size: 45px;
    font-family: 'batman', sans-serif;
}
