@font-face {
    font-family: 'batman';
    src: url(../src/batmfa__.ttf);
}

/* inicio da seção 1 */
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.container1 .img img{
    height: 500px;
    width: auto;
    margin: 50px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.281));
}
.container1 .img{
    width: 50%;
}
.container1 .conteudo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6em;
}
.container1 .conteudo h2{
    font-size: 50px;
    font-family: 'batman', sans-serif;
    padding: 50px;
}
.trailer-button{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 30px;
    margin: 30px;
    background-color: transparent;
    border: 2px solid #d12e2e;
    border-radius: 5px;
    transform: skew(10deg);
    transition: 0.5s;
    cursor: pointer;
}
.trailer-button:hover{
    background-color: #d12e2e;
    color: #fff;
}
/* fim da seção 1 */

/* inicio seção 2 */
.bg-escuro{
    background-color: #202020;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}
.container2 .img{
    width: 50%;
}
.container2 .img img{
    width: 500px;
    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.container2 .conteudo{
    display: flex;
    width: 50%;
    line-height: 1.6em;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.sm-button{
    background-color: transparent;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 30px;
    margin: 20px;
    border-radius: 5px;
    transform: skew(10deg);
    color: #fff;
    border: 2px solid #fff ;
    cursor: pointer;
    transition: 0.5s;
}
.sm-button:hover{
    background-color: #fff;
    color: #202020;
}
/* fim da seção 2 */

/* inicio da seção 3 */
.container3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 20px 0;
}
.card{
    width: 300px;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin: 20px 0;
}
.card-img{
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#h3-per{
    font-family: 'batman', sans-serif;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

