@media (max-width: 1250px){
    .container3{
        grid-template-columns: 1fr 1fr;
    }
    .card{
        width: 500px;
        margin: 20px auto;

    }
}
@media (max-width: 1100px){
    .container2 .img img{
        width: 400px;
    }
}
@media (max-width: 1150px){
    .container3{
        grid-template-columns: 1fr;
    }
    .card{
        width: 600px;
    }
}
@media (max-width: 1056px){
    .container1 .conteudo h2{
        font-size: 40px;
        padding: 40px;
    }
    
}
@media (max-width: 998px){
    .container5{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 854px){
    .container1 .conteudo h2{
        padding: 30px;
    }
    .container1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .container1 .conteudo, .container2 .conteudo{
        width: 700px;
    }
    .container2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container2 .img{
        width: 100%;
    }
    .container2 .img img{
        width: 500px;
        margin: auto;
    }
}
@media (max-width: 732px){
    .container1 .conteudo, .container2 .conteudo, #p-con{
        width: 600px;
    }
}
@media (max-width: 670px) {
    .card{
        width: 500px;
    }
}
@media (max-width: 626px) {
    .container1 .conteudo, .container2 .conteudo, #p-con{
        width: 450px;
        text-align: center;
    }
    .container5{
        grid-template-columns: 1fr;
    }
    .container1 .img img{
        margin: 0 auto;
    }
}
@media (max-width: 570px){
    .card{
        width: 450px;
    }
}
@media (max-width: 535px){
    .container2 .img img{
        width: 450px;
        margin: 0 auto;
    } 
    .container2 .img{
        width: 100%;
    }
    .card{
        width: 400px;
        box-shadow: none;
        border-radius: 0px;
        border-top: 4px solid #323232;
    }
    .card:first-child{
        border: none;
    }
}
@media (max-width: 485px){
    .container1 .conteudo, .container2 .conteudo, #p-con{
        width: 400px;
    }
    .container1 .conteudo h2, #h2-per, #h2-con{
        font-size: 30px;
        line-height: 2em;
        padding: 0px;
        margin: 5px;
        text-align: center;
    }
    .container2 .img img{
        width: 350px;
    }
    .card{
        width: 400px;
        padding: 5px;
    }
}
@media (max-width: 418px){
    .card, #p-con, .container2 .conteudo, .container1 .conteudo{
        width: 350px;
    }
    .container1 .img{
        padding: 0;
    }
}
@media (max-width: 375px){
    .container2 .img img, .card, .container1 .img img, .container1 .img, .container1 .conteudo, #p-con, .container2 .conteudo{
        width: 300px;
    }
    .container2{
        padding: 3px;
    }
}
@media print{
    body{
        display: none;
    }
}